

    <mat-card class="jobs">
      <!--mat-card-title>{{job.job_title}} </mat-card-title>
    <mat-card-subtitle class="card-subtitle">
      {{job.job_title}}
     </mat-card-subtitle-->
     <mat-card-title-group>
      <img mat-card-sm-image  src="../../../assets/images/ulp.png" >
      <mat-card-title>Tecnico desarrollador de software</mat-card-title>
      <mat-card-subtitle>Tecnologia</mat-card-subtitle>

    </mat-card-title-group>
     <mat-card-content>
      Análisis, diseño y programación de soluciones informáticas aplicando las mejores prácticas.

 Participación de equipos de investigación y desarrollo.

 Desarrollo de aplicaciones integrales en diferentes tipos de equipamientos y tecnologías.

 Creación de bases de datos, entornos web y aplicaciones móviles sincronizadas.

 Identificación de problemas en entornos de desarrollo de software.

 Desempeño con sentido ético respecto de clientes, usuarios, colegas y la sociedad en su conjunto.
      <br> <br>
      Fecha ingreso: --/--/-- <br>
      Fecha de egreso: --/--/--
     </mat-card-content>
    <mat-card-actions align="end">
      <app-image-button [icon]="iconEdit" class="btn-edit"></app-image-button>
      <app-image-button [icon]="iconDelete" class="btn-edit"></app-image-button>
    </mat-card-actions>
  </mat-card>

