.mat-card{

    background-color: bisque;
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-style: groove;
    border-width: 1px;
    border-color: darkgrey;
}

.mat-card#first-card{
    padding: 0;
}

div#profile-background{
    display: flex;
    z-index: 1;
}
div#profile-background img{
    width: 100%;
    border-radius: 32px 32px 0 0;
}

.profile-image
{
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -110;
    z-index: 1;
}

div#info-actions
{
    display: flex;
}

.image-responsive
{
    display: block;
    width: 60%;
    margin-left:auto ;
    margin-right: auto;
    z-index: 1;
    position: relative;
    top: 0;
}
.image-circular {
    width:150px;
    height:150px;
    border-radius:150px;
    z-index: 2;
    top: -75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-right: autogit;
    position: relative;
    
}
