<div class="card mat-card" id="first-card">
    <div class="profile-background">
      <div class="size">
      <img class="image-responsive" src="../../../assets/images/logo.jpg" alt="">
    </div>
    </div>
      <div class="info">
        <div >
          <img  id="info-img" src="../../../assets/images/mh.png" alt="">
          <!--app-image-button></app-image--->
          <app-image-button></app-image-button>
          <div class="info-data">

              <h1>Martin Hamon</h1>
              <div id="info-company">Full Stack Developer
                Jr
              <div id="info-contact">
                <span>Cursando Argentina programa desarrollado por el INTI. </span>

              </div>
            </div>

          </div>
        </div>
            <div class="info-tech">


                <!--img class="study-link" src="../../../assets/images/ulp.png" alt="ULP">
                <p  >texto a añadir</p>
                <h1>ULP</h1>
                <div id="info-company">M-code</div>
                <div id= "info-contact">
                  <span>San Luis </span>
                  <span><a href="#">Informacion de contacto</a></span>
                </div-->

            </div>
      </div>
        <mat-card class="no-mat">
          <button mat-raised-button >Tengo interes en</button>
            <button mat-stroked-button >Añadir seccion</button>
            <button mat-stroked-button >Mas</button>
        </mat-card>


</div>










