/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.jobs{
  margin-top: 5px;

}

.btn-edit{
    margin-top: 5px;
    margin-right: 10px;
}
.card-subtitle{
  margin-right: 25px;
}

.mat-typography{
 /* background-image: url("https://www.wallpapertip.com/wmimgs/13-131390_bi-background-light-blue-png-304043-background-for.png" );*/
 background-color: currentColor;
}

/*.mat-card{
  background-color: darkgray;

}*/


