<mat-card>
  <mat-card-title>
   SAT - sistema de alerta temprana
  </mat-card-title>
  <mat-card-subtitle>
    Desarrollado
  </mat-card-subtitle>
  <mat-card-content>
    Sistema desarrollado en MySql, c++, laravel, javascript, html. Actualmente migrando desde una plataforma anterior. Cuenta con app Android
  </mat-card-content>
    <mat-card-content>
    URL referencia: <a href="http://m-code.com.ar/sat/">SAT</a>


  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>



</mat-card>
