<mat-card class="jobs">

 <mat-card-content>

  <mat-grid-list cols="3" rowHeight="150px" gutterSize="5px" >



    <mat-grid-tile>
      <mat-grid-tile-footer>
        <h3>SQL</h3>
      </mat-grid-tile-footer>
      <mat-spinner mode="determinate" color="{{color}}" value="{{value}}" diameter="{{diameter}}">
      </mat-spinner>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-footer>
        <h3>C#</h3>
      </mat-grid-tile-footer>
      <mat-spinner mode="determinate" color="{{color}}" value="{{value}}" diameter="{{diameter}}">

      </mat-spinner>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-footer>
        <h3>Android</h3>
      </mat-grid-tile-footer>
      <mat-spinner mode="determinate" color="{{color}}" value="{{value}}" diameter="{{diameter}}">

      </mat-spinner>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-footer>
        <h3>IOS</h3>
      </mat-grid-tile-footer>
      <mat-spinner mode="determinate" color="{{color}}" value="{{value}}" diameter="{{diameter}}">

      </mat-spinner>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-footer>
        <h3>Angular</h3>
      </mat-grid-tile-footer>
      <mat-spinner mode="determinate" color="{{color}}" value="{{value}}" diameter="{{diameter}}">

      </mat-spinner>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-footer>
        <h3>PHP</h3>
      </mat-grid-tile-footer>
      <mat-spinner mode="determinate" color="{{color}}" value="{{value}}" diameter="{{diameter}}">

      </mat-spinner>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-footer>
        <h3>Laravel</h3>
      </mat-grid-tile-footer>
      <mat-spinner mode="determinate" color="{{color}}" value="{{value}}" diameter="{{diameter}}">

      </mat-spinner>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-footer>
        <h3>Java</h3>
      </mat-grid-tile-footer>
      <mat-spinner mode="determinate" color="{{color}}" value="{{value}}" diameter="{{diameter}}">

      </mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
 </mat-card-content>
<mat-card-actions align="end"
*ngIf="logued"
>
  <app-image-button [icon]="iconEdit" class="btn-edit"></app-image-button>
  <app-image-button [icon]="iconDelete" class="btn-edit"></app-image-button>
</mat-card-actions>
</mat-card>



