


  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>{{skill.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://media.minutouno.com/p/c86c001aa989e67242857856d5949855/adjuntos/150/imagenes/039/544/0039544250/pase-sanitariojpg.jpg">
    <mat-card-content>
      <p>
        {{skill.subtitle}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onEdit()">Editar</button>
      <button mat-button (click)="onDelete()">Eliminar</button>
    </mat-card-actions>
  </mat-card>


